a{
	color: black;
	text-decoration: none;
}
a.a1{
	color: white;
	text-decoration: none;
}
a.a1:hover{
	color:#05FCEB;
	text-decoration: none;
}
a.a2{
	color: black;
	text-decoration: none;
}
a.a2:hover{
	color:white;
	text-decoration: none;
}
a.a3{
	color: black;
	text-decoration: none;
}
a.a3:hover{
	color: red;
}
a.a4{
	color: white;
	text-decoration: none;
}
a.a4:hover{
	color: yellow;
	text-decoration: none;
}
#body{
	z-index: 0;
	background:url(http://www.srx.gov.cn/Content/Main/Base/img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 1400px;
	background-attachment: fixed;
}
#top{
	width: 1200px;
	height: 191px;
}
.顶{
	z-index: 1;
	width: 1200px;
	height: 36px;
}
.li1{
	z-index: 1;
	width: 83px;
	height: 34px;
	font-size: 16px;
	color:000;
	font-family: 宋体;
	font-style: center;
	font-weight: bold;
	padding: 10px;
	border:2px;
	float: left;
}
.国徽{
	z-index: 1;
	background:url(http://www.srx.gov.cn/content/main/base/img/logo.png);
	width: 420px;
	height: 79px;
	margin-top:38px;
	margin-left:50px;
	margin-bottom: 38px;
}
.li2{
	z-index: 1;
	width: 115px;
	height: 34px;
	font-size: 28px;
	color:white;
	font-family: 宋体;
	font-weight: bold;
	padding: 10px;
	background-color: #3F89F6;
	float: left;
}
li.li2:hover{
	background-color: #065DF4;
}
.u1{
	text-align: center;
	list-style-type: none;
}
.菜单{
	width: 1300px;
	height: 34px;
}
.主体{
	z-index: 1;
	width: 1215px;
	height: 700px;
	border: #EEFBFA 1px solid;
	margin-left: 40px;
	margin-top: 20px;
	background-color: #FFFFFF;
}
.标题{
	z-index: 2;
	width: 1165px;
	height: 130px;
	background-color: #EAEFEE;
	margin-top: 20px;
	margin-left:25px;
	border: #EDEAF5 2px solid;
}
.头条{
	width: 120px;
	height:120px;
	z-index: 3;
	background: url(http://www.srx.gov.cn/Content/Main/base/img/topicHdBg.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
}
.标首{
	z-index: 3;
	width: 998px;
	height:68px;
	margin-top: 10px;
	margin-left: 120px;
}
.h1{
	display: block;
	font-size:32px;
	text-align: center;
	font-weight: 900;
}
.p1{
	font-size:14px;
}
.解{
	z-index:1;
	width: 440px;
	height: 400px;
	float: left;
}
.图{
	z-index: 2;
	width: 410px;
	height: 280px;
	background: url(http://www.srx.gov.cn/upload/main/contentmanage/article/image/2017/12/29/869c7b6e55ec4315a2cb29a7889a90e1_410_270.png);
	background-repeat: no-repeat;
   	margin:20px;
}
.li3{
	z-index:2;
	font-size: 24px;
	font-weight: bold;
	width:180px;
	height:60px;
	line-height: 60px;
	background-color:#1A67F9;
	margin:0 5px;
	padding-top: 5px;
	float: left;
	border-radius:4px;
}
.li4{
	width: 120px;
	height: 50px;
	line-height: 50px;
	float: left;
	background-color: #D6D7FC;
}
li.li4:hover{
	font-weight: bold;
	background-color: #2824FE;
}
.文本{
	width:440px;
	height:220px;
	float: left;
}
.u2{
	list-style-type: circle;
}
.li5{
	width: 380px;
	height: 36px;
	font-family: 宋体;
	font-size: 14px;

}
.date {
    float: right;
    color: #999;
    margin-left: 0px;
}
.办事{
	width:440px;
	height: 110px;
	float: left;
}
.li6{
	width: 75px;
	height: 60px;
	line-height:60px; 
	font-size: 15px;
	margin-top: 20px;
	float: left;
	background-color: #D6D7FC;
}
li.li6:hover{
	font-weight: bold;
	background-color: #2824FE;
}
.通知会议{
	width: 310px;
	height: 400px;
	float: left;
}
.通知栏{
	width: 290px;
	height: 50px;
	padding:0;
	margin-left: 20px;
	background-color: #D6D7FC;
}
.li7{
	z-index: 3;
	position: relative;
	top: 0px;
	right:40px;
	width: 120px;
	height: 50px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
	margin-left: 0px;
	background-color: #2824FE;
}
.通知{
	width: 310px;
	height: 120px;
}
.u3{
	position: relative;
	right: 20px;
	list-style-type: none;
}
.li8{
	width: 280px;
	height: 36px;
	font-family: 宋体;
	font-size: 14px;
}
.会议{
	width: 310px;
	height: 145px;
}
.图片{
	width: 1200px;
	height: 100px;
	margin-top: 30px;
	float: left;
}
.u4{
	list-style-type: none;
}
.li9{
	position: relative;
	right: 35px;
	width: 250px;
	height: 65px;
	margin-left: 40px;
	float: left;
}
.尾{
	width: 1215px;
	height: 100px;
	margin-left: 40px;
	margin-top: 40px;
	background-color: white;
}
.li10{
	width: 220px;
	height: 60px;
	position: relative;
	right: 30px;
	line-height: 60px;
	margin-left: 15px;
	margin-top: 20px;
	float: left;
	background-color: #ECECFC;
}
.底站{
	z-index: 1;
	width: 1215px;
	height: 80px;
	margin-left: 40px;
	margin-top: 30px;
	background-color:rgba(0,0,0,0.5);
}
.关于{
	z-index: 2;
	width: 560px;
	height: 80px;
}
.li11{
	z-index: 3;
	width: 80px;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
	right: 40px;
	float: left;
}
.底站图{
	z-index: 2;
	width: 200px;
	height: 80px;
	position: relative;
	left: 560px;
	bottom: 80px;
}
.主办电话{
	z-index: 2;
	width: 450px;
	height: 80px;
	position: relative;
	bottom: 170px;
	float: right;
}
.p2{
	font-family: 宋体;
	font-size: 10px;
	color: white;
}
